.header-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: white;
  padding: 0px 15px 0px 15px;
}

.notification-icon{
height: 24px;
width: 24px;
margin: 15px;
margin-right: 5px;
}
.settings-icon{
    height: 24px;
    width: 24px;
    margin: 15px 5px 15px 5px;
    /* margin-left: 5px; */
}

.header-logo{
    height: 45px;
    width: 45px;
    margin-top: 8px;
    margin-left: 0px;
}

@media screen and (max-width:580px) {
    
}