.app{
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.header-projects-container{
  width: 85%;
  box-sizing: border-box;
}

@media screen and (max-width:780px) {
  .header-projects-container{
    width: 80%;
  }  
}
@media screen and (max-width:580px) {
  .app{
    flex-direction: column;
  }
  .header-projects-container{
    width: 100%;
  }  
}